body {
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.E1uAMQI7wSTF6hDZ8ibtAAHaE7%26pid%3DApi&f=1&ipt=3c54c18120db0af95bcf4f7b155ae898bddec6f93788b05c841164de90193fc2&ipo=images");
  background-repeat: no-repeat;
  background-color: black;
  background-size: cover;
}

.content {
  flex-wrap: wrap;
  font-family: "Kaushan Script", cursive;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.textBox {
  text-align: center;
  padding: 200px;
  max-width: 500px;
}

.textBox h2 {
  color: #fff;
  font-size: 6em;
  line-height: 1.4em;
  font-weight: 500;
}

.btn {
  color: red;
  background-color: black;
  font-size: 30px;
  position: relative;
  padding: 10px;
  padding-left: 100px;
  text-decoration: none;
  padding-right: 100px;
  border: 3px solid red;
}

img {
  float: right;
  height: 50%;
  width: 50%;
  border: 3px solid red;
}

footer {
  font-size: x-large;
  text-align: right;
  color: white;
}
